{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="banner">
        <div class="banner-inside">
            <h1 style="font-size: 100px;">ⰈⰋⰅⰎⰐⰋⰍ</h1>
            <p style="font-size: 20px;"><i>Marek Kasprowicz</i></p>
        </div>
    </div>
{% endblock %}
